body {
    padding: 1%;
    text-align: left;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}


/*POPUPS*/

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Popup Box */
  .popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    white-space: initial;
    font-weight: normal;

  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 37.5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* togglePopup() */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s
  }
  
  /* Animation (fade in,  popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .Therapeutentabelle th, td {
    border: 1px solid;     
  }

  table {
    border-collapse: collapse;
    padding: 5%;
    border: hidden;
  }

th, td {
  padding: 10px;
  vertical-align: top;
}

th {
  white-space: nowrap;
}

.Therapeutentabelle br {
  display: block; 
  content: "";
  margin-top: 10px; /* Höhe!!! */
}

/*div Ausrichtung :*/

.kat {
  float: left;
  padding-right: 30px;
  padding-bottom: 20px;
}

.kat-title {
  padding-bottom: 7px;
}

.adresse {
  clear: both;
}

.Fertig {
  background-color: #555;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.Fertig:hover {
  background-color: rgb(67, 209, 74);

}

.Fertig:active {
  background-color: #007904;
}

output, .alter {
  padding-left: 5px;
  vertical-align: 2px;
}