body {
    padding: 1%;
    text-align: left;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}


/*POPUPS*/

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Popup Box */
  .popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* togglePopup() */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
  }
  
  /* Animation (fade in,  popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .Therapeutentabelle th, td {
    border: 1px solid;     
  }

  table {
    border-collapse: collapse;
    padding: 5%;
    border: hidden;
  }

th, td {
  padding: 10px;
}

.Therapeutentabelle br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 10px; /* change this to whatever height you want it */
}

/*
Bei aufspalten() das letze Element entfernen, so dass kein <br> hinzugefügt wird
*/
