body {
  padding: 1%;
  text-align: left;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}


/*POPUPS*/

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Popup Box */
  .popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    white-space: initial;
    font-weight: normal;

  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 37.5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* togglePopup() */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s
  }
  
  /* Animation (fade in,  popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .Therapeutentabelle th, td {
    border: 1px solid;     
  }

  table {
    border-collapse: collapse;
    padding: 5%;
    border: hidden;
  }

th, td {
  padding: 10px;
  vertical-align: top;
}

th {
  white-space: nowrap;
}

.Therapeutentabelle br {
  display: block; 
  content: "";
  margin-top: 10px; /* Höhe!!! */
}

/*div Ausrichtung :*/

.kat {
  float: left;
  padding-right: 30px;
  padding-bottom: 20px;
}

.avatar {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

.kat-title {
  padding-bottom: 7px;
}

.adresse {
  clear: both;
}




.EinzelSeite th, .EinzelSeite  td {
  border: none;
  border-bottom: solid 1px #555;
}

.EinzelSeite td {
  padding-left: 10px;
}

.Fertig {
  background-color: #555;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.Fertig:hover {
  background-color: rgb(67, 209, 74);

}

.Fertig:active {
  background-color: #007904;
}

output, .alter {
  padding-left: 5px;
  vertical-align: 2px;
}


/* Dropdown Menü */

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 8px;
  padding-left: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
  z-index: 9;
}
.dropdown-check-list ul.items li {
  list-style: none;
}

.steckbrief {
  float: left;
  padding-right: 50px;
  max-width: 500px;
}

.karte {
  clear: both;
  margin-right: 50px;
}

.spezifikationen {
  padding: 0;
  font-size: larger;
  
  & > * {
    display: inline;
    
    &:after {
      content: ', ';
    }
    
    &:last-child:after {
      content: '';
    }
  }
}

@media (min-width: 500px) {
  .spezifikationen {
      list-style: square;
      padding-left: 25px;
  
    & > * {
        display: list-item;
        width: 33%;
        float: left;
      
      &:after {
        content: '';
      }
    }
  }
}

.platzhalter {
  clear: both;
}


.profilbild {
  border: solid 2px #c9c9c9;
  border-radius: 100px;
  vertical-align: middle;
  margin-right: 15px;
  width: 100px;
  background-color: #dbdbdb;
}


.notfall {
  display: block;
  border: solid 1px rgba(255, 154, 154, 0);
  border-radius: 5px;
  background-color: rgba(255, 154, 154, 0.37);
}

.notfall-inhalt {
  padding: 2em;
  padding-top: 0%;
  padding-bottom: 1.2em;
}

.notfall-ueberschrift {
  color: red;
}

.notfall-nummer {
  text-align: center;
  margin: 1em;
  font-weight: bolder;
}

.koerper {
  margin-left: 6%;
  margin-right: 7%;
  font-size: 1.2em;
}

.koerper h1 {
  font-size: 175%;
}

.psych {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1.1em;
}

.infoTher {
  font-size: 110%;
}

/*
.alterTherapeutIn {
  clear: both;
}
*/
.informationsangebot,
.personenListe {
  list-style: none;
  margin-left: -2em;
  margin-top: -0.5em;
}

.adresseInfo > * {
  vertical-align: -11%; /* So verschiebe ich es vertikal */
}

.sortierungTitle {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.kosten {
  vertical-align: -9%;
}

#footer {
  margin-top: 1em;
}

.inhalteF {
  font-size: 90%;
  width: 100%;
  display: flex;
  /*Experimentell: */
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
}

@media (max-width: 716px) {
  .inhalteF {
    display: inherit;
  }
}

.footnoteElement {
  margin: 1em;
  padding: 0.2em;
  margin-bottom: 0;
  margin-top: 5px;
  float: left;
}

.footnoteElement:first-child {
  margin-right: auto;
}

.footnoteElement:last-child {
  margin-right: auto;
}

.footnoteElement {
  margin: auto;
  padding: 0.2em;
  margin-bottom: 0;
  margin-top: 5px;
  float: left;
}

.footnoteElement > a {
  text-decoration: none;
  color: currentColor;
}

.footnoteElement:hover {
  border: solid black 1px;
  border-radius: 4px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#footer {
  margin-top: auto;
  margin-bottom: 0;
}

.einzel {
  min-height: auto;
  display: inherit;
  flex-direction: inherit;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1.1em;
}

.footerEinzel {
  clear: both;
}

